<div class="container">
  <mat-radio-group aria-label="Select an option">
    <mat-radio-button (change)="resetDeadOrAliveFilter()">Dead and alive</mat-radio-button>
    <mat-radio-button (change)="filterDeadOrAlive(false)" id="deadFilter" value="true">Dead</mat-radio-button>
    <mat-radio-button (change)="filterDeadOrAlive(true)" id="aliveFilter" value="false">Alive</mat-radio-button>
  </mat-radio-group>

  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applySearchFilter($event)" placeholder="Ex. ium">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="firstname">
      <th mat-header-cell *matHeaderCellDef> Firstname</th>
      <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title</th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <ng-container matColumnDef="alive">
      <th mat-header-cell *matHeaderCellDef> Alive</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon aria-hidden="false" aria-label="Example home icon">
          {{element.alive ? 'sentiment_very_satisfied' : 'sentiment_very_dissatisfied' }}
        </mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="origin">
      <th mat-header-cell *matHeaderCellDef>Origin</th>
      <td mat-cell *matCellDef="let element">
        {{element.origin}}
      </td>
    </ng-container>

    <ng-container matColumnDef="culture">
      <th mat-header-cell *matHeaderCellDef>Culture</th>
      <td mat-cell *matCellDef="let element"> {{element.culture}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
